@import "variables";
@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all";
@import "summernote/src/styles/summernote-bs4";

.admin {
    .commands-container {
        background-color: var(--primary-color);
        height: 100vh;
        overflow: auto;
        position: sticky;
        top: 0;
        .commands {
            display: flex;
            flex-flow: column;
            .action {
                text-decoration: none;
                padding: 1rem;
                color: white;
                width: 100%;
                text-align: left;
                border-radius: 0px;
                transition: all 0.3s;
                &:hover {
                    background-color: var(--secondary-color);
                }
                &.active {
                    background-color: var(--secondary-color);
                }
            }
        }
    }

    .dashboard-screen {
    }
}
