@import "variables";
@import "~bootstrap";

.home {
    nav {
        background-color: var(--primary-color);
        .brand {
            a {
                text-decoration: none;
                color: white;
                img {
                    transform: rotate(45deg);
                    height: 60px;
                }
            }
        }
    }
    footer {
        .copyrights {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 1rem;
            margin-top: 5px;
            a {
                color: white;
            }
            p {
                padding: 1rem;
                margin-bottom: 0px;
            }
            img {
                height: 50px;
                transform: rotate(45deg);
            }
        }
    }
    .index {
        .all-topics {
            background-color: #eee;
            color: var(--primary-color);
            padding: 1rem;
            .topic {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 1rem;
                img {
                    height: 70px;
                    min-height: 70px;
                }
                .content {
                    min-height: 120px;
                    h3 {
                        text-transform: capitalize;
                    }
                }
                .btn {
                    background: var(--secondary-color);
                    border-color: var(--secondary-color);
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .tutorial-screen {
        .tutorial-list-container {
            background-color: #eee;
            padding: 1rem;
            color: var(--primary-color);

            .tutorial-list {
                display: flex;
                flex-flow: column;
                height: 80vh;
                overflow: auto;
                a {
                    text-decoration: none;
                    color: inherit;
                    text-transform: capitalize;
                    padding: 0.5rem;
                    transition: all 0.25s;
                    &:hover {
                        color: white;
                        background-color: var(--secondary-color);
                    }
                    &.active {
                        background-color: var(--secondary-color);
                    }
                }

                &::-webkit-scrollbar-track {
                    border: 1px solid #000;
                    padding: 2px 0;
                    background-color: var(--primary-color);
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: var(--secondary-color);
                    border: 1px solid #000;
                }
            }
        }
        .content {
            padding: 1rem;
            .header {
                text-transform: capitalize;
            }
        }
    }
}
