@import "variables";
@import "~bootstrap";
@import "mixins";

.home {
    background-color: #f7f7f7;
    @include blockquote;
    nav {
        background-color: var(--nav-color);
        .brand {
            a {
                text-decoration: none;
                color: #62abe4;
                font-weight: bold;
                img {
                    height: 60px;
                }
            }
        }
    }
    footer {
        .copyrights {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 1rem;
            margin-top: 5px;
            a {
                color: white;
            }
            p {
                padding: 1rem;
                margin-bottom: 0px;
            }
            img {
                height: 50px;
            }
        }
    }
    .index {
        .welcome {
            img {
                width: 100%;
                height: auto;
            }
        }
        .all-topics {
            color: var(--primary-color);
            padding: 0rem 1rem 2rem 1rem;
            .header-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header {
                    color: var(--secondary-color);
                }

                img {
                    width: 300px;
                    @media screen and (max-width: 576px) {
                        width: 150px;
                    }
                    @media screen and (max-width: 768px) {
                        width: 250px;
                    }
                }
            }
            .topic {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 2rem;
                position: relative;
                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
                border-radius: 5px;
                .count {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--secondary-color);
                    color: White;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                img {
                    height: 70px;
                    min-height: 70px;
                }
                .content {
                    min-height: 120px;
                    h3 {
                        text-transform: uppercase;
                    }
                }
                .btn {
                    background: var(--secondary-color);
                    border-color: var(--secondary-color);
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .tutorial-screen {
        .tutorial-list-container {
            background-color: var(--nav-color);
            padding: 1rem;
            color: var(--primary-color);
            .header {
                text-transform: uppercase;
            }
            .tutorial-list {
                display: flex;
                flex-flow: column;
                height: 80vh;
                overflow: auto;
                a {
                    text-decoration: none;
                    color: inherit;
                    text-transform: capitalize;
                    padding: 0.5rem;
                    transition: all 0.25s;
                    &:hover {
                        color: white;
                        background-color: var(--secondary-color);
                    }
                    &.active {
                        background-color: var(--secondary-color);
                    }
                }

                &::-webkit-scrollbar-track {
                    border: 1px solid #000;
                    padding: 2px 0;
                    background-color: var(--primary-color);
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: var(--secondary-color);
                    border: 1px solid #000;
                }
            }
        }
        .content {
            padding: 1rem;
            .header {
                text-transform: capitalize;
            }
        }
    }
}
