@import "variables";
@import "~bootstrap";
@import "@fortawesome/fontawesome-free/css/all";
@import "mixins";

.home {
    background-color: #f7f7f7;
    @include blockquote;
    .navs {
        position: fixed;
        top: 0;
        z-index: 2;
        left: 0;
        right: 0;
        .top-nav {
            background-color: var(--nav-color);
            .brand {
                a {
                    text-decoration: none;
                    color: #62abe4;
                    font-weight: bold;
                    img {
                        height: 60px;
                    }
                }
            }
        }
        .bottom-nav {
            background-color: var(--primary-color);
            a {
                text-decoration: none;
                margin-left: 1rem;
                margin-right: 1rem;
                color: white;
                &.sidebar-toggle-button {
                    width: 20px;
                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                    span {
                        background: white;
                        width: 100%;
                        height: 2px;
                        margin: 5px 0px;
                        display: block;
                    }
                }
            }
        }
    }
    footer {
        .copyrights {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 1rem;
            margin-top: 5px;
            a {
                color: white;
            }
            p {
                padding: 1rem;
                margin-bottom: 0px;
            }
            img {
                height: 50px;
            }
        }
    }
    .index {
        .welcome {
            img {
                width: 100%;
                height: auto;
            }
        }
        .all-topics {
            color: var(--primary-color);
            padding: 0rem 1rem 2rem 1rem;
            .header-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header {
                    color: var(--secondary-color);
                }

                img {
                    width: 130px;
                    @media (min-width: 576px) {
                        width: 200px;
                    }
                    @media (min-width: 768px) {
                        width: 270px;
                    }
                }
            }
            .topic {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 2rem;
                position: relative;
                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
                border-radius: 5px;
                .count {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--secondary-color);
                    color: White;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                img {
                    height: 70px;
                    min-height: 70px;
                }
                .content {
                    min-height: 120px;
                    h3 {
                        text-transform: uppercase;
                    }
                }
                .btn {
                    background: var(--secondary-color);
                    border-color: var(--secondary-color);
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .tutorial-screen {
        .tutorial-list-container {
            color: var(--primary-color);
            position: fixed;
            top: 0px;
            padding-top: 120px;
            z-index: 1;
            height: 100%;
            width: 230px;
            transition: all 0.3s;
            @media (min-width: 576px) {
                width: 250px;
            }

            @media (min-width: 768px) {
                width: 270px;
            }

            @media screen and (max-width: 768px) {
                transform: translateX(-100%);
            }
            &.show {
                transform: translateX(0px);
            }
            .list {
                background-color: var(--nav-color);
                height: 100%;
                .header-container {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    height: 90px;
                    @media (min-width: 576px) {
                        height: 100px;
                    }
                    @media (min-width: 768px) {
                        height: 110px;
                    }
                    .header {
                        text-transform: uppercase;
                        margin-bottom: 0px;
                        font-size: 1.6rem;
                        @media screen and (max-width: 576px) {
                            font-size: 1.2rem;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 1.4rem;
                        }
                    }
                    img {
                        height: 60px;
                        @media screen and (max-width: 576px) {
                            height: 40px;
                        }
                    }
                }
                .tutorial-list {
                    display: flex;
                    flex-flow: column;
                    height: calc(100% - 90px);
                    overflow: auto;
                    @media (min-width: 576px) {
                        height: calc(100% - 100px);
                    }
                    @media (min-width: 768px) {
                        height: calc(100% - 110px);
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        text-transform: capitalize;
                        padding: 0.5rem;
                        transition: all 0.25s;
                        font-size: 0.7rem;
                        @media (min-width: 576px) {
                            font-size: 0.8rem;
                        }
                        @media (min-width: 768px) {
                            font-size: 0.9rem;
                        }
                        &:hover {
                            color: white;
                            background-color: var(--secondary-color);
                        }
                        &.active {
                            background-color: var(--secondary-color);
                        }
                    }

                    &::-webkit-scrollbar-track {
                        border: 1px solid #000;
                        padding: 2px 0;
                        background-color: var(--primary-color);
                    }

                    &::-webkit-scrollbar {
                        width: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        background-color: var(--secondary-color);
                        border: 1px solid #000;
                    }
                }
            }
        }
        .content {
            padding: 1rem;
            margin-top: 125px;
            margin-left: 276px;
            width: 100%;
            @media screen and (max-width: 768px) {
                margin-left: 0px;
            }
            .header {
                text-transform: capitalize;
            }
        }
    }
}
