@mixin blockquote {
    .blockquote {
        background: #eee;
        padding: 1rem;
        border-left: 4px solid var(--primary-color);
        p{
            margin-bottom: 0px;
        }
    }
}
